spring:
  main:
    allow-circular-references: true

  datasource:
    name: dashboard
    generate-unique-name: false

  #    driver-class-name: org.h2.Driver
  #    url: jdbc:h2:tcp://localhost/~/doggy
  #    username: sa
  #    password:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: true

logging:
  level:
    org.hibernate.SQL: debug

