#title{
  background-color: rosybrown;
}

#features{
  background-color: white;
  border-color: black;
  border-style: dotted;
  padding-top: 13%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 13%;
  
}

.feature-box{
  text-align: center;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.header-view{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.5;
}


.feature{  
  stroke: white;
  
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

h3{
  font-family: 'Times New Roman', Times, serif;
}

.eleg{
  font-family: 'Times New Roman', Times, serif;
}

.ml-5 {
  margin-left: 2.5rem !important;
}

.mr-5 {
  margin-right: 2.5rem !important;
}

.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: aqua;
}
.bg-doge{
 background-image: url(/images/doge.svg); 
 background-position: 
    center;
 background-repeat: no-repeat;
 background-size: 50%;
}

ul{
  list-style:none;
  padding-left: 0;
}
