#title{
  background-color: rosybrown;
}

*{

}

#features{
  background-color: white;
  border-color: black;
  border-style: dotted;
  padding-top: 13%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 13%;

}

.feature-box{
  text-align: center;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.header-view{
  font-family: 'Noto Sans KR', sans-serif;

  font-weight: 300;
  font-size: 3rem;
  line-height: 1.5;
}


.feature{
  stroke: white;

}

h1{
  font-weight: 800;
}


.ml-5 {
  margin-left: 2.5rem !important;
}

.mr-5 {
  margin-right: 2.5rem !important;
}

.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: aqua;
}
.bg-olive{
 background-color: #808000;
}

ul{
  list-style:none;
  padding-left: 0;
}
