<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header.html :: fragment-header(title)">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- CSS 링크 -->
      <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" type="text/css"
            media="all"/>
      <link rel="stylesheet" th:href="@{/css/mycss.css}" href="/static/css/mycss.css" type="text/css" media="all"/>

      <!-- 스크립트 링크-->
      <script type="text/javascript" src=""></script>
      <title> 내가 쓴 게시판 </title>
    </div>
</head>

<body>
<div th:replace="/fragments/header.html :: nav-header">
  <nav class="bd-header navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="검색" aria-label="검색">
        <button class="btn btn-outline-dark" type="submit" style="width:35%">검색</button>
      </form>
    </div>
  </nav>
</div>

<div id="page-wrapper">
    <div th:replace="/fragments/header.html :: left-bar" id="sidebar-wrapper" class="bg-dark text-white">
        <div class="pt-4">To Do list</div>
        <hr class="border-white">
        <ul class="list-group ms-lg-4">
            <li>text1</li>
            <li>text2</li>
            <li>text3</li>
            <li>text4</li>
        </ul>
    </div> <!-- left side bar end -->

    <div id="page-content-wrapper">
        <div class="container-fluid bg-light p-0 text-center ">
          <h1>게시판</h1>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th colspan="2" scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Larry the Bird</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">Larry the Bird</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>

    </div>
</div>

</body>

</html>
