<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header.html :: fragment-header(title)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS 링크 -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" type="text/css"
              media="all"/>
        <link rel="stylesheet" th:href="@{/css/mycss.css}" href="/static/css/mycss.css" type="text/css" media="all"/>

        <!-- 스크립트 링크-->
        <script type="text/javascript" src=""></script>
        <title> 내가 쓴 게시판 </title>
    </div>
</head>

<body>
<div th:replace="/fragments/header.html :: nav-header">
    <nav class="bd-header navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">게시판</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="검색" aria-label="검색">
                <button class="btn btn-outline-dark" type="submit" style="width:35%">검색</button>
            </form>
        </div>
    </nav>
</div>

<div class="container-fluid d-grid col-6 gap-2 pt-5 text-center">
    <h1>로그인 페이지</h1>
    <form action="/login" th:action="@{/login}" method="post" class="form-control" th:object="${loginDto}">
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="아이디">
                <label for="floatingInputGroup1">아이디를 입력해주세요</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingInputGroup2" placeholder="비밀번호">
                <label for="floatingInputGroup2">비밀번호를 입력해주세요</label>
            </div>
        </div>
        <div>
            <p th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors()}"></p>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-primary" type="submit" th:text="로그인">로그인하기</a>
        </div>
    </form>
</div>
</body>

</html>
